html {
  scroll-padding-top: var(--navbar-safe-area);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--black);
}
