html {
  scroll-padding-top: var(--navbar-safe-area);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--base-font);
}

body {
  background-color: var(--bg-color);
  color: var(--black);
}

a {
  color: var(--primary);
}

h1, h2, h3 {
  font-family: var(--headline-font);
  text-transform: uppercase;
}