@layer base {
  html {
    scroll-padding-top: var(--navbar-safe-area);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--base-font);
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color .25s ease;
  }

  a {
    color: var(--primary);

    &:focus-visible {
      position: relative;
      outline: 3px var(--black) solid;
      z-index: 10;
    }
  }

  h1, h2, h3 {
    font-family: var(--headline-font);
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
  }

  .reset-heading {
    font-family: var(--base-font);
    text-transform: unset;
    font-weight: 900;
    letter-spacing: -.03em;
  }

  .menu-open {
    overflow: hidden;
  }
}