.button {
  appearance: none;
  background: var(--primary);
  color: var(--white);
  font-weight: bold;
  padding: .5rem .75rem;
  border-radius: 0;
  border: 0;
  text-decoration: none;

  &:hover {
    background: var(--black);
    cursor: pointer;
  }

  &-lg {
    padding: .75rem 1.25rem;
  }
}

.text-input {
  appearance: none;
  background: var(--white);
  @include border;
  border-radius: 0;
  padding: .5em .75em;

  &:focus {
    outline: 0;
    border-color: var(--black);
    box-shadow: 0 0 0 2px var(--black);
  }
}

.checkbox-input {
  appearance: none;
  background-color: var(--white);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid currentColor;
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: .25s transform ease-in-out;
    box-shadow: inset 1em 1em var(--primary);
    border-radius: 100%;
  }

  &:checked::before {
    transform: scale(1);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--black);
  }
}