@mixin border-top {
  border-top: 1px solid var(--black);
}

@mixin border-left {
  border-left: 1px solid var(--black);
}

@mixin border-bottom {
  border-bottom: 1px solid var(--black);
}

@mixin border-right {
  border-right: 1px solid var(--black);
}

@mixin border {
  border: 1px solid var(--black);
}

@mixin visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;

  &:not(caption) {
    position: absolute !important;
  }
}

@mixin visually-hidden-focusable {
  &:not(:focus):not(:focus-within) {
    @include visually-hidden();
  }
}
