.chapter-democracy-for-all .chapter-poster-image svg {
  transform: translate(-2rem, 3rem) scale(1.1);
}

.chapter-sustainability-for-all .chapter-poster-image svg {
  transform: translate(2rem, 10rem) scale(1.2);
}

.chapter-solidarity-for-all .chapter-poster-image svg {
  transform: translate(-3rem, 0) scale(1.2);
  transform-origin: 0 0;
}

.chapter-prosperity-for-all .chapter-poster-image svg {
  transform: translate(-3rem, 0) scale(1.4);
  transform-origin: 0 0;
}
