:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --beige: #{$beige};
  --black: #{$black};
  --bg-color: var(--beige);
  --text-color: var(--black);
  --border-color: var(--black);
  --muted: #{rgba($black, .5)};
  --white: #{$white};
  --base-font: #{$base-font};
  --headline-font: #{$headline-font};
  --navbar-safe-area: #{$navbar-safe-area};
  --site-padding-sm: #{$site-padding-sm};
  --site-padding: #{$site-padding};
  --site-padding-xl: #{$site-padding-xl};
  --text-sm: #{$text-sm};
  --text-md: #{$text-md};
  --text-lg: #{$text-lg};
  --text-xl: #{$text-xl};
  --text-2xl: #{$text-2xl};
  --headline-home: #{$headline-home};
  --headline-page: #{$headline-page};
  --headline-block: #{$headline-block};
  --headline-chapter: #{$headline-chapter};
  --headline-story: #{$headline-story};
  --headline-story-sm: #{$headline-story-sm};
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.dark {
  --bg-color: var(--black);
  --text-color: var(--white);
  --border-color: #{rgba($white, .5)};
}
