@layer utils {
  .hidden {
    display: none;
  }

  .p-site {
    padding: var(--site-padding);
  }

  .p-xl {
    padding: var(--site-padding-xl);
  }

  .p-sm {
    padding: var(--site-padding-sm);
  }

  .py-sm {
    padding-top: var(--site-padding-sm);
    padding-bottom: var(--site-padding-sm);
  }

  .px-site {
    padding-left: var(--site-padding);
    padding-right: var(--site-padding);
  }

  .border-top {
    @include border-top;
  }

  .border-left {
    @include border-left;
  }

  .border-right {
    @include border-right;
  }

  .border-bottom {
    @include border-bottom;
  }

  .border {
    @include border;
  }

  .headline-font {
    font-family: var(--headline-font);
    text-transform: uppercase;
  }

  .visually-hidden,
  .visually-hidden-focusable:not(:focus):not(:focus-within) {
    @include visually-hidden();
  }

  .color-primary {
    --color: var(--primary);
  }

  .color-secondary {
    --color: var(--secondary);
  }

  .list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .link-black-underlined {
    color: var(--text-color);

    &:hover {
      color: var(--primary);
    }
  }

  .link-black-to-underlined {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
