/* Colors */
$purple: #652B80;
$beige: #E9D5CA;
$black: #000;
$white: #fff;
$orange: #FB7959;

/* Color variables */
$primary: $purple;
$secondary: $orange;
$bg-color: $beige;

/* Typography */
$base-font: 'DM Sans', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$headline-font: 'Franklin Gothic Std', sans-serif;
$text-sm: .95rem;
$text-md: 1.1rem;
$text-lg: 1.25rem;
$text-xl: 1.5rem;
$text-2xl: 2rem;
$headline-home: clamp(5rem, 8vw, 15rem);
$headline-page: clamp(5rem, 7vw, 9rem);
$headline-block: clamp(1.5rem, 4vw, 4.25rem);
$headline-chapter: clamp(2rem, 5vw, 6rem);
$headline-story: clamp(2rem, 2.75vw, 3.5rem);
$headline-story-sm: 1.75rem;

/* Media breakpoints */
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

/* Spacing */
$navbar-safe-area: 4.0625rem;
$site-padding-sm: 1rem;
$site-padding: 1.75rem;
$site-padding-xl: 2rem;

/* Categories */
$categories: (
  'democracy-for-all': #F31717,
  'diversity-for-all': #F3B617,
  'sustainability-for-all': #66AE5A,
  'solidarity-for-all': #E98F3C,
  'prosperity-for-all': #3A99CE,
  'uncategorie': var(--primary)
);